{:paths   ["core" "lib"]
 :deps    {org.clojure/clojurescript {:mvn/version }
           org.clojure/core.async    {:mvn/version "0.6.532"}}
 :aliases {:nrepl       {:extra-deps {cider/cider-nrepl {:mvn/version "0.22.4"}}}
           :cucumber    {:extra-paths ["features/cljs"]}
           :shadow-cljs {:extra-deps {thheller/shadow-cljs {:mvn/version "2.8.83"}}
                         :main-opts  ["-m" "shadow.cljs.devtools.cli"]}}}
