{:paths   ["core" "lib"]
 :deps    {org.clojure/clojurescript {:mvn/version "1.10.773"}
           org.clojure/core.async    {:mvn/version "1.3.610"}
           org.clojure/test.check {:mvn/version "1.1.0"}}
 :aliases {:nrepl       {:extra-deps {cider/cider-nrepl {:mvn/version "0.22.4"}}}
           :test        {:extra-deps {lambdaisland/kaocha {:mvn/version "1.0.732"}}}
           :cucumber    {:extra-paths ["features/cljs"]}
           :shadow-cljs {:extra-deps {thheller/shadow-cljs {:mvn/version "2.8.83"}}
                         :main-opts  ["-m" "shadow.cljs.devtools.cli"]}}}
